@import "../../../scss/main.scss";

.active {
    color: #5df3f9 !important;
}

.menu-item {
    display: block;
    width: 100%;
    writing-mode: vertical-rl;
    margin: 20px 0;
}

.menu-link {
    display: block;
    width: 100%;
    padding: 10px 0;
    line-height: 100px;
    color: #f4f5f4;
    text-transform: uppercase;
    text-decoration: none;
}