@import "../../scss/main.scss";

.menu {
    width: 100px;
    height: 100%;
    position: absolute;
    background-color: transparent;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.menu-list {
    font-size: 11px;
    letter-spacing: 3px;
    font-weight: bold;
    padding: 0;
}

.menu-bullet-list {
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translate(0, -57%);
    padding: 0;
    z-index: 1
}