@import "../../scss/main.scss";

.name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: aliceblue;
    font-size: 7vw;
    font-family: sans-serif;
    font-weight: 900
}

.name span {
    padding: 0 22px;
}

.round-btn-position {
    top: 25px;
    right: 25px;
    font-size: 10px;
}

.round-btn {
    position: absolute;
    background-color: transparent;
    color: #F4F5F4;
    z-index: 1;
    border: 1px solid #F4F5F4;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

.round-btn a {
    display: flex;
    color: #F4F5F4;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.codepen-position {
    bottom: 25px;
    left: 30px;
    font-size: 14px;
}

.view-resume {
    position: absolute;
    z-index: 1;
    bottom: 32px;
    left: 200px;
    color: #F4F5F4;
    font-size: 11px;
}

.view-resume a {
    color: #F4F5F4;
    // letter-spacing: 2px;
    border-bottom: 1px solid #f4f4f4;
}

.view-resume::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 1px;
    background-color: #F4F5F4;
    left: -40px;
    bottom: 5px;
}

// -------- media query --------

@media (max-width: 2000px) {
    .blue-circle {
      width: 33vw;
      height: 33vw;
    }
  }
  
  @media (max-width: 1400px) {
    .blue-circle {
      width: 38vw !important;
      height: 38vw !important;
    }
  }
  
  @media (max-width: 1200px) {
    .blue-circle {
      width: 40vw !important;
      height: 40vw !important;
    }
  }
  
  @media (max-width: 1024px) {
    .blue-circle {
      width: 58vw !important;
      height: 58vw !important;
    }
    .name {
      font-size: 10vw !important;
    }
    .name span {
      padding: 0 3px !important;
    }
    .menu {
      display: none !important;
    }
  }
  
  @media (max-width: 776px) {
    .menu,
    .background__parts,
    .background__text {
      display: none !important;
    }
    .main {
      width: 100% !important;
      height: 100% !important;
      top: 0 !important;
    }
    .blue-circle {
      min-width: 74vw;
      min-height: 74vw;
    }
    .name {
      font-size: 11vw !important;
    }
    .name span {
      padding: 0 4px !important;
    }
    .menu-bullet-item-link, .socials {
      padding: 5px 20px !important;
    }
    .e-word {
      max-width: 162px !important;
      min-width: 0;
    }
  
    .left-d-word {
      max-width: 465px !important;
      
    }
    .left-a-word {
      max-width: 256px !important;
      left: 13% !important;
    }
    .f-word {
      max-width: 210px !important;
      right: 7% !important;
    }
  }
  
  @media (max-width: 650px){
    .e-word, .f-word {
      display: none !important;
    }
  }
  
  @media (max-width: 500px){
    .left-d-word {
      width: 15% !important;
      min-width: 300px !important;
      top: -58px !important;
      left: -100px !important; 
    }
  }